body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #fff;
}

.container {
    text-align: center;
    padding: 20px;
}

header {
    background-color: #6a0dad;
    padding: 70px;
    border-bottom: 2px solid #d4af37;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header .logo {
    position: absolute;
    top: 10px;
    width: 50px;
    height: 50px;
}

header .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    color: #d4af37;
}

h2 {
    margin: 2;
    color: #fff;
}

#decorative-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

#decorative-images img {
    margin: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 2px solid #d4af37;
    border-radius: 10px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product {
    background-color: #333;
    border: 1px solid #d4af37;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 45%;
    box-sizing: border-box;
}

.product h2 {
    color: #d4af37;
    font-size: 1.2em;
}

.product p {
    font-size: 1em;
}

#whatsapp-btn {
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 1.2em;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#whatsapp-btn:hover {
    background-color: #20b358;
}
